@import 'bootstrap/dist/css/bootstrap';


.navbar {

background-color: #324353 !important; 

}

.navbar-brand{
	color:#FFF !important; 
}
.nav-link{
	color:#FFF !important; 
}

.btn-default {
 
background-color: #324353;
 
color:#FFF;
 
border-color: #2F3E48;
 
}

.btn-outline-success:hover {
	background-color: #3999f9
}



#search-btn{
	border-color: #fff;
	color:#fff;
}
