@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

.navbar {

background-color: #324353 !important; 

}

.navbar-brand{
	color:#FFF !important; 
}

.active{
	font-size: 16pt !important;
	font-weight: bold !important;
}

.active-brand{
	font-size: 22pt !important;
	font-weight: bold !important;
}

.nav-link{
	color:#FFF !important;
}


.btn-default {
 
background-color: #324353;
 
color:#FFF;
border-color: #2F3E48;
 
}

.btn-outline-success:hover {
	background-color: #3999f9
}

.search-area{
	padding :15px;
}

.result-block{
	display: inline-block;
}


.already-follow-user{
	background-color: green !important;
	width: 120px !important;
	white-space: normal !important;
}

.user-name{
	padding-top:20px !important
}


	.logout-button{
	margin: 15px;
}

.follow-btn{
	margin-top:3px;
	margin-bottom:3px;
	white-space: nowrap !important;	
}


.strong{
	white-space: nowrap;
}	

#search-col{
	padding-left: 0px;
}


#search-btn{
	border-color: #fff;
	color:#fff;
}

li {
    list-style-type: none;
}